body{
 
  background-color: #0b0c10;
  position: relative;
}


.our-work .card:hover{
  box-shadow: -1px 9px 40px -12px rgba(39, 208, 238, 0.85);
}
.jumbotron{
    background-color: #0b0c10;
   
    background-repeat: no-repeat;
    background-size: cover;
    color: #66fcf1;
}


.jumbotron-content{
    text-align: center;
}
.container{
    margin-top: 8%;
}
h2{
    font-family: 'Red Rose', cursive;
    font-size: 50px;
}

form{
    display: inherit;
}
.images-scroll{
    margin-top: 60px;
}
#sabi-svg{
    stroke-dasharray:600;
   stroke-dashoffset:0;}
   svg {
   position: absolute;
   top: 0;
   left: 0;
   }
   .st0{fill:none;stroke:rgb(153, 240, 243);stroke-width:2.6463;}
       .st1{fill:none;stroke:#8df5f0;stroke-width:2.6463;}
       .st2{fill:none;stroke:#97ebee;stroke-width:2.6463;}
       .st3{fill:none;stroke:#8ff5f5;stroke-width:2.6463;} svg{
       position: relative;
       left: 50%;
       transform: translateX(-50%);
    }

.search-submit{
    background-color: rgb(59, 57, 57);
    color: honeydew;
    border: none;
}

.search{
    background-color:  rgb(59, 57, 57);
    
}
   
   /* ======================================== DROPDOWN =====================================================*/
.dropbtn {
    background-color: inherit;
    color: rgb(240, 199, 16);
    font-size: 16px;
    border: none;
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:inherit;}

  
 
  .stats{
      border-right-color: yellow;
      border-right-width: 1.5px;
      border-right-style: solid;
  }
  .numbers{
      margin-top: 6%;
  }
.about:active{
  color: #d3d3d3;
}
 

/*============================ CHAT BOX ===================================================== */
.open-button {
  background-color: rgb(241, 126, 18);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.95;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

#email-box{
  border-radius: 2%;
  border-color: white;
  box-shadow: none;
}


/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #060f16;
  color: #66fcf1;
  opacity: 1;
 
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(253, 253, 253);
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color : lemonchiffon;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color:white;
  color: black;
  padding: 4px 5px;
  border: 2px;
  border-radius: 8%;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}
.form-container .btn:hover{
  background-color: #66fcf1;

}
.form-container .cancel{
  background-color: #66fcf1;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:white;
  color: black;
  padding: 4px 5px;
  border: 2px;
  border-radius: 8%;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.city{
  color: #66fcf1;
}

.about-1{
  padding: 3%;
  color: #66fcf1;
  background-color: #0b0c10;
}
.about-1:hover{
  background-color: rgb(233, 110, 10);
  color: whitesmoke;
  transition:all 0.8s ease-in-out ;
  
  box-shadow:
                1px 1px #53a7ea,
                4px 4px #53a7ea,
                5px 5px #53a7ea;
                transform: translateX(-3px);
  

}

.our-reach{
  background-color: #0b0c10;
  color: #66fcf1;
  opacity: 0.6;
}

.btn-fb{
  background-color: #3b5998;
  padding: 30%;
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 98%;
  color:white;
  box-shadow: #060f16;
  box-shadow: 0 4px 4px -1px rgba(92, 220, 236, 0.45);
  margin-right: 25px;;
}
.btn-tw{
  background-color:#00acee;
  padding: 28%;
  padding-left: 35%;
  padding-right: 35%;
  border-radius: 98%;
  color:white;
  box-shadow: 0 4px 4px -1px rgba(92, 220, 236, 0.45);
  margin:25px;

}
.btn-gplus{
  background-color:#db4a39;
  padding: 25%;
  padding-left: 28%;
  padding-right: 28%;
  border-radius: 98%;
  color:white;
  box-shadow: 0 4px 4px -1px rgba(92, 220, 236, 0.45);
  margin:25px;

}

.btn-li{
  background-color: #0e76a8;
  padding: 25%;
  padding-left:33%;
  padding-right:33%;
  border-radius: 98%;
  color:white;
  box-shadow: 0 4px 4px -1px rgba(92, 220, 236, 0.45);
  margin:25px;

}
  
.btn-li:hover{
  box-shadow: 0 4px 4px -1pxx rgba(59, 220, 241, 0.85);
  color: wheat;
}
.btn-fb:hover{
  box-shadow: 0 4px 4px -1px rgba(45, 223, 230, 0.85);
  color: wheat;
}
.btn-tw:hover{
  box-shadow: 0 4px 4px -1px rgba(52, 200, 226, 0.85);
  color: wheat;
}
.btn-gplus:hover{
  box-shadow: 0 4px 4px -1px rgba(38, 213, 236, 0.85);
  color: wheat;
}
.btn-rounded{
  border-radius: 5%;
 
  box-shadow: 0 10px 10px -2px rgba(31, 221, 255, 0.45);
 
}
.page-footer{
  background-color: #0b0c10;
  color:#66fcf1;
  padding: 24px;
  margin-top: 15px;

}

hr.style {
  overflow: visible; 
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style:before { 
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.city{
  margin-top: 20px;
  padding: 5%;
  padding-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

u{
  padding-bottom:10px;
  text-decoration:none;
  border-bottom:3px solid #000
}

.search-bar{
  margin-left: 28%;
  margin-right: 28%;
}

.city-card:hover{
  box-shadow: -1px 9px 40px -12px rgba(39, 208, 238, 0.85);
  margin-top: 3%;
  text-decoration: none;
  background-color: #c5c6c7;
  color: #0b0c10;
  transition:all 0.3s ease-in-out ;
}
a.city-card{
  background-color: #1f2833;
  color: paleturquoise;
}

.project{
  box-shadow: -3px 19px 50px -20px rgba(2, 210, 247, 0.85);
  background-color: #0b0c10;
  color: #66fcf1;
  transition:all 0.3s ease-in-out ;
}
.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}